<section class="about-section">
  <div class="container">
    <div class="heading">
      About
    </div>
    <p>Founder & Managing Director Jagjeet Singh Sembhi (QEAC N087) :- Overseas Education expert  graduated from Australia & Entrepreneurial Experience of 8+years on recruiting students onshore as well as offshore from four major Asian Pacific countries & visited more than eight countries around the world. Myiec.com is a platform for students to choose their study destination also where they get actual and personalised counseling and information that helps them plan their education journey Abroad ie: Career Counseling, Country and University selection, Admissions, Scholarship, and much more. 

        MyIEC is a professional consulting in worlds education provides professional counseling and information to students.
        
        To know more about MYIEC, contact our Corporate Office
        Office no. 206-210, 2nd Floor, Pearl Business park - 452010 Reach out to us on: info@MyIEC.com or 
        Whats app: +61424398841</p>
  </div>
</section>