<header class="main-header">
  <div class="header-top">
      <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="logo-box">
                      <a href=""><img src="/testApp/assets/images/logo.png" alt="MyISC"/></a>
                  </div>
              </div>
              <div class="col-md-9 col-sm-8 col-xs-12">
                  <div class="info-area">
                      <div class="social-top">
                          <ul>
                              <li><a class="" href="{{socialInstagram}}" target="_blank"><i class="la la-linkedin"></i></a></li>
                              <li><a class="" href="{{socialFacebook}}" target="_blank"><i class="la la-facebook"></i></a></li>
                              <li><a class="" href="{{socialTwitter}}" target="_blank"><i class="la la-twitter"></i></a></li>
                              <li><a class="" href="{{socialLinkedin}}" target="_blank"><i class="la la-linkedin"></i></a></li>
                              <li><a class="" href="{{socialYoutube}}" target="_blank"><i class="la la-youtube"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>      
  <div class="theme_menu stricky">
    <div class="row">
        <div class="menu-area">
          <div class="container">
            <nav class="main-nav">
            <ul>
              <li><a class="menu-link" routerLink="/home" routerLinkActive="active-link">Home</a></li>
              <li><a class="menu-link" routerLink="/about" routerLinkActive="active-link">About</a></li>
              <li><a class="menu-link" routerLink="/studyAbroad" routerLinkActive="active-link">Study Abroad</a></li>
              <li><a class="menu-link" routerLink="/coaching" routerLinkActive="active-link">Coaching</a></li>
              <li><a class="menu-link" routerLink="/blog" routerLinkActive="active-link">Blog</a></li>
              <li><a class="menu-link" routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
            </ul>
            </nav>
          </div>
        </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer class="main-footer-area">
  <div class="main-footer">
        <div class="container">
            <div class="clearfix">
              <div class="col-sm-4 col-xs-12">
                  <div class="footer-info">
                      <div class="footer-logo">
                          <a href="#">
                              <img src="/testApp/assets/images/logo.png" alt="MyISC"/>
                          </a>
                      </div>
                      <div class="text">
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                      </div>
                      <div class="footer-title">Follow Us</div>
                      <div class="social-footer">
                          <ul>
                                <li><a class="" href="{{socialInstagram}}" target="_blank"><i class="la la-linkedin"></i></a></li>
                                <li><a class="" href="{{socialFacebook}}" target="_blank"><i class="la la-facebook"></i></a></li>
                                <li><a class="" href="{{socialTwitter}}" target="_blank"><i class="la la-twitter"></i></a></li>
                                <li><a class="" href="{{socialLinkedin}}" target="_blank"><i class="la la-linkedin"></i></a></li>
                                <li><a class="" href="{{socialYoutube}}" target="_blank"><i class="la la-youtube"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                  <div class="">
                      <div class="footer-title">Blog</div>
                      <div class="single-box">
                          <div class="text">
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                          </div>
                          <div class="comment">5 Comments</div>
                      </div>
                      <div class="single-box">
                          <div class="text">
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                          </div>
                          <div class="comment">5 Comments</div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                  <div>
                      <div class="footer-title">OUR LOCATION</div>
                      <div class="single-box">
                          <div class="text"><i class="ficon ft-home"></i>206-210, 2nd Floor, Pearl Business park - 452010</div>
                          <div class="text"><i class="ficon ft-phone"></i> +614-2439-8841</div>
                          <div class="text"><i class="ficon ft-mail"></i>info@{{title}}.com</div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
  </div>
  <div class="container">
      <div class="footer-bottom">
          <div class="copyright">Copyright © 2019 <a href="#">{{title}}</a> All Rights Reserved</div>
      </div>
  </div>
</footer>