<section class="main-slider">
    <div class="container-fluid">
      <!-- You can use owl-carousel selector to include its component -->
      <owl-carousel [options]="headerBanner"  [carouselClasses]="['owl-carousel', 'owl-theme', 'row', 'sliding', 'slide-nav', 'headerBanner']">
        <div class="item" *ngFor="let image of headerSlider;let i= index">
            <li class="slider-wrapper">
                <div class="image"><img src="{{image.image}}" alt=""></div>
                <div class="slider-caption">
                    <div class="container">
                        <div class="tp-title">{{image.title}}</div>
                        <h1>{{image.descriptionOne}}</h1>
                        <!-- <div class="text">{{image.descriptionTwo}}</div> -->
                        <div class="button">
                            <a href="#" class="btn-one">{{image.fillButton}}</a>
                            <a href="#" class="btn-two">{{image.borderButton}}</a>
                        </div>
                    </div>  
                </div>
                <div class="slide-overlay"></div>
            </li>
        </div>
      </owl-carousel>
    </div>
  </section>
  <section class="home-section">
      <div class="container_gray_bg" id="home_feat_1">
          <div class="container">
            <div class="heading">
                popular institutions
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="row">
              <div class="col-md-4 col-sm-4" *ngFor="let institutions of institutionsList;">
                <div class="home_feat_1_box">
                  <a href="#">
                    <img src="{{institutions.image}}" class="img-responsive" alt="">
                    <div class="short_info">
                      <h3>{{institutions.name}}</h3>
                      <i class="la la-rocket"></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
        </div>
      </div>
  </section>
  <section class="team-section">
    <div class="container">
        <div class="heading">
            our student admitted
        </div>
  
        <owl-carousel [options]="studentAdmitted" [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="item" *ngFor="let image of studentAdmittedList;let i= index">
                <div class="single-team">
                    <div class="team-img">
                        <img class="slide-image" src="{{image.image}}" alt="">
                    </div>
                    <div class="team-details">
                        <span class="name">
                            {{image.name}}
                        </span>
                        <span class="member-role">
                            USA
                        </span>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        </p>
                    </div>
                </div>
            </div>
        </owl-carousel>
    </div>
  </section>
  <section class="project-completed">
    <div class="project-completed-overlay"></div>
    <div class="container">
    <div class="clearfix">
        <div class="col-sm-4 col-xs-12">
            <div class="counter">
                <i class="la la-bicycle"></i>
                <strong>
                    5000+
                    <span>Student</span>
                </strong>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="counter">
                <i class="la la-building"></i>
                <strong>
                    50+
                    <span>Universities</span>
                </strong>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="counter">
                <i class="la la-flag-checkered"></i>
                <strong>
                   6+
                    <span>Country</span>
                </strong>
            </div>
        </div>
    </div>
    </div>
  </section>
  <section class="testimonials">
      <div class="testimonials-overlay"></div>
      <div class="content">
      <div class="heading">
          what students think about us
      </div>
        <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <owl-carousel  [options]="StudentTestimonials" [carouselClasses]="['owl-theme', 'row', 'sliding', 'customersTestimonials']">
                          
                        <div class="item" *ngFor="let testimonial of StudentTestimonialsList;let i= index">
                              <div class="shadow-effect">
                                  <img class="img-circle" src="{{testimonial.image}}" alt="">
                                  <p>{{testimonial.testimonial}}</p>
                              </div>
                              <div class="testimonial-name">{{testimonial.name}}</div>
                          </div>
                        
                      </owl-carousel>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <section class="photo-section container_blue_bg">
      <div class="container">
            <div class="heading">
                Photos
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <owl-carousel [options]="photoOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
              <div class="item" *ngFor="let photo of photosList;let i= index">
                <img class="slide-image" src="{{photo.image}}" >
                <!-- <div class="slide-text">
                  <h4>{{photo.text}}</h4>
                </div> -->
              </div>
            </owl-carousel>
      </div>
  </section>